// Runtime Configuration
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

// Backend Configuration
NATS_URL=nats://nats:4222
NATS_USER=
NATS_PASSWORD=

// LMS MongoDB Configuration
MONGO_URI_LOCAL_LMS=
MONGO_DB_NAME_LMS=

// LMS-AI MongoDB Configuration
MONGO_URI_ROADMAP_AI_LMS_AI=
MONGO_URI_PDF_SUMMARY_AI_LMS_AI=
MONGO_URI_PDF_SUMMARY_AI_AUDIO_LMS_AI=
MONGO_URI_ASSISTANT_LMS_AI=
MONGO_URI_PROBLEM_SOLVER_LMS_AI=
MONGO_URI_VIDEO_GEN_LMS_AI=
MONGO_DB_NAME_LMS_AI=

// LMS AWS S3 Configuration
AWS_S3_REGION_LMS=
AWS_S3_ACCESS_KEY_ID_LMS=
AWS_S3_SECRET_ACCESS_KEY_LMS=
AWS_S3_BUCKET_LMS=

// LMS-AI AWS S3 Configuration
AWS_ACCESS_KEY_ID_LMS_AI=
AWS_SECRET_ACCESS_KEY_LMS_AI=
AWS_REGION_LMS_AI=
AWS_S3_BUCKET_LMS_AI=
AWS_S3_PRESIGN_EXPIRES_LMS_AI=

// App MongoDB Configuration
MONGO_URI_LOCAL_APP=
MONGO_DB_NAME_APP=

// App AWS S3 Configuration
AWS_S3_ACCESS_KEY_ID_APP=
AWS_S3_BUCKET_APP=
AWS_S3_REGION_APP=
AWS_S3_SECRET_ACCESS_KEY_APP=

// App Redis Configuration
REDIS_URL=
REDIS_PREFIX=