# Pinned dependencies for this project (target Python 3.13.5)
# Python==3.13.5
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.11.9
python-dotenv==1.1.1
cohere==5.13.3
langchain-cohere==0.3.3
langchain==0.3.14
langdetect==1.0.9
google-generative-ai==0.8.4
PyMuPDF==1.26.6
starlette==0.41.3
anyio==4.6.2.post1
typing_extensions==4.12.2

aiofiles ==25.1.0
edge-tts==7.2.7
faster-whisper==1.2.1
python-multipart==0.0.22
redis==7.2.0