#? Backend Configuration
PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000

#? Message broker (required for gateway ↔ app/lms communication)
NATS_URL=nats://localhost:4222

#? Swagger Docs Configuration
SWAGGER_USER=
SWAGGER_PASSWORD=

#* Database configuration (MongoDB)
# MONGO_URI_LOCAL=""
MONGO_URI_RMOTE=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
