# app
NEXT_PUBLIC_APP_NAME=Vonova
NEXT_PUBLIC_APP_DOMAIN=vonova.vercel.app
NEXT_PUBLIC_AUTHOR_NAME="Vonova Company"

# metadata
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=
NEXT_PUBLIC_YAHOO_VERIFICATION=

# api
NEXT_PUBLIC_API_BASE_URL=

# git remote -v 
# git pull vercel main 
# git pull vercel main 