#? Backend Configuration
PORT=4004
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000

#? Swagger Docs Configuration
SWAGGER_USER=
SWAGGER_PASSWORD=

#* Database configuration (MongoDB)
# Local: use localhost when running outside Docker; use database when inside Docker Compose
MONGO_URI_LOCAL=mongodb://localhost:27017/
# MONGO_URI_LOCAL=mongodb://database:27017/
MONGO_URI_REMOTE=mongodb+srv://user:pass@cluster.mongodb.net/dbname

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
